<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @attendance.user.first_name %> <%= @attendance.user.last_name %> et bienvenue chez nous !</h1>
    <p>
      Tu t'es inscrit sur monsite.fr en utilisant l'e-mail suivant : <%= @attendance.user.email %>.
    </p>
    <p> Merci d'avoir rejoint cette évènement, en attendant ne ratez pas d'autres évènements via :<%= @url %>.
  </body>
</html>
